
  <div class="central-meta">
    <div class="frnds">
      <ul class="nav nav-tabs">
          <h2>Tìm kiếm bạn bè</h2>
          <br>
          <input type="text" class="form-control"  name="username" required placeholder="Nhập vào tên mà bạn muốn tìm kiếm"  (change)="onChange($event.target.value)" [value]="searchUserName">
          <p>  </p>
          <h5>{{message}}</h5>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active fade show " id="frends" >
        <ul class="nearby-contct">
            <li *ngFor="let user of listUser">
              <div class="nearly-pepls">
                <figure>
                  <a (click)="homefriend(user.id)" title=""><img src={{user.avatar}} alt=""></a>


                </figure>
                <div class="pepl-info">
                  <h4><a (click)="homefriend(user.id)" title="">{{user.username}}</a></h4>
                  <span>ftv model</span>
                  <a  href="time-line.html" title="" class="add-butn" data-ripple="">+kết bạn</a>
                  <!-- <a *ngIf="a" href="time-line.html" title="" class="add-butn" data-ripple="">+kết bạn</a>
                  <a *ngIf="!a" href="time-line.html" title="" class="add-butn" data-ripple="">+kết bạn</a> -->
                </div>
              </div>
            </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
<!-- centerl meta -->
