
  <div class="central-meta">
    <div class="frnds">
      <ul class="nav nav-tabs">
          <h2>Search Friend</h2>
          <br>
          <input type="text" class="form-control"  name="username" required placeholder="Enter your name search"  (change)="onChange($event.target.value)" [value]="searchUserName">
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active fade show " id="frends" >
        <ul class="nearby-contct">
            <li><h5>{{message}}</h5></li>
            <li *ngFor="let user of listUser">
              <div class="nearly-pepls">
                <figure>
                  <a (click)="homefriend(user.id)" title=""><img src={{user.avatar}} alt=""></a>
                </figure>
                <div class="pepl-info">
                  <h4><a (click)="homefriend(user.id)" title="">{{user.firstName}}</a></h4>
                  <span>ftv model</span>
                </div>
              </div>
            </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
<!-- centerl meta -->
