
  <div class="central-meta">
    <div class="frnds">
      <ul class="nav nav-tabs">
         <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Likers</a> <span>55</span></li>
         <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Follwers</a><span>60</span></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active fade show " id="frends" >
        <ul class="nearby-contct">
        <li>
          <div class="nearly-pepls">
            <figure>
              <a href="time-line.html" title=""><img src="images/resources/friend-avatar9.jpg" alt=""></a>
            </figure>
            <div class="pepl-info">
              <h4><a href="time-line.html" title="">jhon kates</a></h4>
              <span>ftv model</span>
              <a href="time-line.html" title="" class="add-butn" data-ripple="">view profile</a>
            </div>
          </div>
        </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
<!-- centerl meta -->
