<div class="central-meta">
    <div class="about">
        <div class="personal">
            <h5 class="f-title"><i class="ti-info-alt"></i> Personal Info</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="d-flex flex-row mt-2">
            <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left">
                <li class="nav-item">
                    <a href="#basic" class="nav-link active" data-toggle="tab">Basic info</a>
                </li>
                <li class="nav-item">
                    <a href="#location" class="nav-link" data-toggle="tab">location</a>
                </li>
                <li class="nav-item">
                    <a href="#work" class="nav-link" data-toggle="tab">work and education</a>
                </li>
                <li class="nav-item">
                    <a href="#interest" class="nav-link" data-toggle="tab">interests</a>
                </li>
                <li class="nav-item">
                    <a href="#lang" class="nav-link" data-toggle="tab">languages</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="basic">
                    <ul class="basics">
                        <li><i class="ti-user"></i>sarah grey</li>
                        <li><i class="ti-map-alt"></i>live in Dubai</li>
                        <li><i class="ti-mobile"></i>+1-234-345675</li>
                        <li><i class="ti-email"></i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3c4553494e515d55507c59515d5550125f5351">[email&nbsp;protected]</a></li>
                        <li><i class="ti-world"></i>www.yoursite.com</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="location" role="tabpanel">
                    <div class="location-map">
                        <div id="map-canvas" style="position: relative; overflow: hidden;">
                            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                <div style="overflow: hidden;"></div>
                                <div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
                                    <div tabindex="0" aria-label="Map" aria-roledescription="map" role="img" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;">
                                        <div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);">
                                            <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                                <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                                    <div style="position: absolute; z-index: 988; transform: matrix(1, 0, 0, 1, -190, -135);">
                                                        <div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;">
                                                            <div style="width: 256px; height: 256px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                                            <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                                            <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                                <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                                                    <div style="position: absolute; z-index: 988; transform: matrix(1, 0, 0, 1, -190, -135);">
                                                        <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div>
                                                    </div>
                                                </div>
                                                <div style="width: 24px; height: 24px; overflow: hidden; position: absolute; left: -12px; top: -6px; z-index: 18;"><img alt="" src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; opacity: 1;"></div>
                                                <div style="width: 24px; height: 24px; overflow: hidden; position: absolute; left: 48px; top: -90px; z-index: -66;"><img alt="" src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; opacity: 1;"></div>
                                                <div style="width: 24px; height: 24px; overflow: hidden; position: absolute; left: -2px; top: 97px; z-index: 121;"><img alt="" src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; opacity: 1;"></div>
                                            </div>
                                            <div style="position: absolute; left: 0px; top: 0px; z-index: 0;"></div>
                                        </div>
                                        <div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;">
                                            <p class="gm-style-pbt"></p>
                                        </div>
                                        <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;">
                                            <div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);">
                                                <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                                                <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                                                <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;">
                                                    <div title="Mi marcador" aria-label="Mi marcador" style="width: 24px; height: 24px; overflow: hidden; position: absolute; opacity: 0.0001; cursor: pointer; touch-action: none; left: -12px; top: -6px; z-index: 18;"><img alt="" src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; opacity: 1;"></div>
                                                    <div title="Otro marker" aria-label="Otro marker" style="width: 24px; height: 24px; overflow: hidden; position: absolute; opacity: 0.0001; cursor: pointer; touch-action: none; left: 48px; top: -90px; z-index: -66;"><img alt="" src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; opacity: 1;"></div>
                                                    <div title="Otro marker mas" aria-label="Otro marker mas" style="width: 24px; height: 24px; overflow: hidden; position: absolute; opacity: 0.0001; cursor: pointer; touch-action: none; left: -2px; top: 97px; z-index: 121;"><img alt="" src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; opacity: 1;"></div>
                                                </div>
                                                <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;">
                                                    <div style="cursor: default; position: absolute; top: 0px; left: 0px; z-index: -17;">
                                                        <div class="gm-style-iw-a" style="position: absolute; left: 0px; top: 18px;">
                                                            <div class="gm-style-iw-t" style="right: 0px; bottom: 35px;">
                                                                <div class="gm-style-iw gm-style-iw-c" style="padding-right: 0px; padding-bottom: 0px; max-width: 0px; max-height: 0px; min-width: 0px;">
                                                                    <div class="gm-style-iw-d" style="overflow: scroll; max-height: 636px;">
                                                                        <div><b>Mi marcador</b><br>Tel: 46546545</div>
                                                                    </div><button draggable="false" title="Đóng" aria-label="Đóng" type="button" class="gm-ui-hover-effect" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; top: -6px; right: -6px; width: 30px; height: 30px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="pointer-events: none; display: block; width: 14px; height: 14px; margin: 8px;"></button></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><iframe aria-hidden="true" frameborder="0" tabindex="-1" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;"></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="work" role="tabpanel">
                    <div>

                        <a href="#" title="">Envato</a>
                        <p>work as autohr in envato themeforest from 2013</p>
                        <ul class="education">
                            <li><i class="ti-facebook"></i> BSCS from Oxford University</li>
                            <li><i class="ti-twitter"></i> MSCS from Harvard Unversity</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="interest" role="tabpanel">
                    <ul class="basics">
                        <li>Footbal</li>
                        <li>internet</li>
                        <li>photography</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="lang" role="tabpanel">
                    <ul class="basics">
                        <li>english</li>
                        <li>french</li>
                        <li>spanish</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>