<aside class="sidebar static">
  <div class="widget friend-list stick-widget">
      <h4 class="widget-title">Friends</h4>
      <div id="searchDir"></div>
      <ul id="people-list" class="friendz-list">
          <div>
              <li *ngFor="let user of listUsers">
                  <figure>
                      <img src="{{user.avatar}}" alt="">
                      <span class="status f-online"></span>
                  </figure>
                  <div class="friendz-meta">
                      <a (click)="redirectTo(user.id)">{{user.firstName}}</a>
                  </div>
              </li>
          </div>
      </ul>
  </div>
  <!-- friends list sidebar -->
</aside>
