<aside class="sidebar static">
    <div class="widget friend-list stick-widget">
        <h4 class="widget-title">Friends</h4>
        <div id="searchDir"></div>
        <ul id="people-list" class="friendz-list">
            <div>
                <li *ngFor="let user of listUsers">
                    <figure>
                        <img style="cursor: pointer;" (click)="navigateToFriendHome(user.id)" src="{{user.avatar}}" alt="">
                        <span class="status f-online"></span>
                    </figure>
                    <div class="friendz-meta" style="cursor: pointer;">
                        <a (click)="navigateToFriendHome(user.id)" style="color: blue;">{{user.username}}</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <!-- friends list sidebar -->
</aside>