<section>
  <app-navbar></app-navbar>
</section>
<section>
  <div class="feature-photo">
    <figure><img src="{{userSearch.cover}}" alt="" style="height: 600px;"></figure>
    <div class="add-btn">
      <span>1205 followers</span>
      <!-- <div [ngSwitch]="checkrelationship">
       <a class="btn btn-danger" *ngSwitchCase=1 (click)="deleterelationship(relationship.id)" title="" data-ripple="">Đang chờ trả lời</a>
       <a class="btn btn-danger" *ngSwitchCase=2 (click)="deleterelationship(relationship.id)" title="" data-ripple="">Bạn bè</a>
       <a class="btn btn-danger" *ngSwitchCase=0 (click)="createrelationship(userSearch.id)" title="" data-ripple="">+ Kết bạn</a>
      </div> -->
        <div class="dropdown" [ngSwitch]="checkrelationship">
          <button  class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngSwitchCase=1>Waiting</button>
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngSwitchCase=2>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
            Friend
          </button>
          <button class="btn btn-primary" *ngSwitchCase=0 (click)="createrelationship(userSearch.id)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            Add Friend
          </button>
          <button class="btn btn-primary" *ngSwitchCase=3 (click)="acceptFriend()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
            Accept
          </button>
          <button style="margin-left: 10px;" class="btn btn-primary" *ngSwitchCase=3 (click)="deleterelationship(relationship.id)">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-dash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5-.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
            </svg>
            Delete
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button style="margin-left: 5px;" class="btn btn-primary" (click)="deleterelationship(relationship.id)" >
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-dash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5-.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
              </svg>
              Cancel
            </button>
          </div>
        </div>


    </div>
    <div class="container-fluid">
        <div class="row merged">
            <div class="col-lg-2 col-sm-3">
                <div class="user-avatar">
                    <figure>
                        <img src="{{userSearch.avatar}}" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-lg-10 col-sm-9">
                <div class="timeline-info">
                    <ul>
                        <li class="admin-name">
                            <h5>{{userSearch.firstName}}</h5>
                        </li>
                        <div style="text-align: center; display: inline; margin-left: 100px;">
                          <li>
                            <a class="active" title="" data-ripple="" [routerLink]="['timeline-friend-profile', userSearch.id]">time line</a>
                            <a class="" title="" data-ripple="" [routerLink]="['photo', userSearch.id]">Photos</a>
                            <a class="" title="" data-ripple="" [routerLink]="['friend', userSearch.id]">Friends</a>
                            <a class="" title="" data-ripple="" [routerLink]="['about', userSearch.id]">about</a>
                          </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>

</section>
<section>
  <div class="col-lg-12" style="margin-top: 50px;">
      <div class="row" id="page-contents">
          <div class="col-lg-3">
              <app-navbarleft></app-navbarleft>
          </div>

          <div class="col-lg-6">
              <router-outlet>
              </router-outlet>
          </div>

          <div class="col-lg-3">
              <app-navbarright  ></app-navbarright>
          </div>

      </div>
  </div>
</section>
